#about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;

    min-height: calc(100vh - 92px);
}

.about_image {
    width: 500px;
    height: auto;
}

.about_content {
    width: 50%;

    background-color: var(--color-neutral-0);
    box-shadow: var(--box-shadow-1);
    padding: 12px;
    border-radius: 12px;

    transition: 1s;
}

.about_content:hover {
    transform: scale(1.01);
}

#about .section-subtitle {
    font-size: 3rem;
}

.about_text p {
    color: var(--color-primary-7);
    margin-bottom: 8px;
}

.about_img_mb {
    display: none;
}

@media screen and (max-width:960px) {
    #about {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    .about_image {
        display: none;
    }

    .about_content {
        width: 100%;
        border-radius: 0px;
        text-align: center;
    }

    .about_backs {
        text-align: left;
    }

    .about_content:hover {
        transform: scale(1);
    }

    .about_img_mb {
        display: flex;
        margin: 50px;
        width: 80%;
    }

    .about_text p {
        padding: 0px 50px 10px 50px;
    }
}