#footer_itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;

    background-color: var(--color-primary-6);
}

@media screen and (max-width: 418px) {
    #footer_itens {
        flex-direction: column-reverse;
        gap: 30px;
    }
}