header {
    width: 100%;
    height: 92px;
    padding: 28px 8% 0px 8%;
    position: sticky;
    top: 0;
    background-color: #ffffff09;
    backdrop-filter: blur(5px);
    z-index: 3;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* ESTILIZAR LOGO */
.nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item a {
    text-decoration: none;
    color: var(--color-neutral-0);
    font-weight: 600;
}

.nav_item.active a {
    color: var(--color-font-color);
    border-bottom: 3px solid var(--color-primary-4);
}

/* MOBILE MENU */
.mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.btn-mob{
    display: none;
}

@media screen and (max-width: 860px) {
    .nav_list,
    #navbar .btn-default {
        display: none;
    }

    .btn-mob {
        background-color: transparent;
        border: none;

        position: absolute;
        top: 28px;
        right: 8%;
        display: flex;
    }
    .btn-mob i{
        color: var(--color-primary-5);
    }

    .mobile_btn {
        display: block;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-neutral-2);
    }

    #mobile_menu {
        background-color: var(--color-primary-1);
        position: absolute;
        right: 0;
        width: 100%;
        padding: 12px 0px;
    }

    #mobile_menu.active1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    .mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
    }
}