#home{
    display: flex;
    min-height: calc(100vh + 92px);
    position: relative;
    background: url('../asserts/header-bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 1%;
}
.cta .title{
    font-size: 2.8rem;
    color: var(--color-neutral-0);
}
.cta .description{
    color: var(--color-neutral-0);
}
.cta .title span{
    color: var(--color-primary-6);
}
.cta .description{
    font-size: 1.2rem;
}
.cta_buttons{
    display: flex;
    gap: 24px;
}
.cta_buttons a{
    text-decoration: none;
    color: var(--color-neutral-2);
}
.phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-neutral-0);
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: var(--box-shadow-1);
    border-radius: 12px;
}
.pedidos a{
    text-decoration: none;
    color: var(--color-neutral-2);
}
.banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;

    /* MUDAR */
    display: none;
}
.banner img{
    height: 100%;
    width: fit-content;
}
.shape{
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
    
    /* MUDAR */
    display: none;
}


@media screen and (max-width: 1170px){
    #home{
        min-height: 100%;
        padding-top: 0px;
    }
    .banner,
    .banner img,
    #home .shape{
        display: none;
    }
    .cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .cta_buttons{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .cta .title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 500px){
    .cta_buttons a{
        width: 90%;
    }
}
