#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 92px);
}
#menu h2{
    margin-top: 80px;
}
.dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: var(--box-shadow-1);
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}

.dish:hover {
    /* background-color: #e9a209; */
    transform: scale(1.1);
}

.dish img {
    width: 100%;
}

.dish .fa-heart {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-neutral-0);
    width: 70px;
    height: 70px;
    top: -10px;
    right: -10px;
    border-radius: 0px 47.5px 0px 42.5px;
}

.dish_description {
    color: var(--color-primary-8);
    text-align: center;
}

.dish_rate i {
    color: var(--color-primary-6);
}

.dish_price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    .dishes {
        flex-wrap: wrap;
        justify-content: center;

    }

    .dish {
        width: calc(50% - 32px);
    }

    .dish:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 648px) {
    .dish {
        width: 100%;
    }
}